/* default settings */

body {
    margin: 0;
    background-color: #F6F8FA;
}

* {
    font-family: 'Roboto';
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}


/* helper classes */

.left {
    float: left;
}

.right {
    float: right;
}

.clear-fix:after {
    content: "";
    display: block;
    clear: both;
}

.w-100 {
    width: 100%;
}

.text-center {
    text-align: center;
}


/* header section */

#header {
    background-color: #053365;
    border-top: 4px solid #C33329;
    position: relative;
    padding: 10px 30px;
}

#header .logo {
    width: 6%;
    border: 2px solid #fff;
    border-radius: 2px;
    position: absolute;
    left: 20px;
    top: 3px;
}

#header #main-navigation {
    width: 65%;
    margin-left: 8%;
}

#header #main-navigation ul li {
    display: inline-block;
}

#header #main-navigation ul li a {
    font-weight: 600;
    padding: 5px 10px;
    display: block;
}

#header #main-navigation ul li a:hover {
    background-color: #40668C;
    border-radius: 4px;
}

#header #main-navigation a,
.user_section a {
    color: #fff;
    text-transform: capitalize;
    font-size: 14px;
}

#header .user_section {
    width: 20%;
}

#header .user_section ul li {
    display: inline-block;
}


/* secondary header */

#secondary_header {
    padding: 10px 15px;
    background-color: #fff;
}

#secondary_header ul li {
    display: inline-block;
    padding: 5px 8px;
    position: relative;
}

#secondary_header .hot_news ul .mr-right:after {
    content: "";
    position: absolute;
    height: 50%;
    width: 1px;
    background-color: #000;
    top: 30%;
    right: 0%;
}

#secondary_header .hot_news {
    margin-left: 8%;
}


/* main section */

#content {
    width: 1335px;
    margin: 20px auto;
}

#sideBar1,
#sideBar2 {
    width: 22%;
    padding: 5px 8px;
    background-color: #fff;
}

#sideBar1 .exclusive .video-play {
    width: 45%;
    padding: 5px;
}

#sideBar1 .exclusive .video-desc {
    width: 48%;
    padding: 5px;
}

#sideBar1 .exclusive .video-desc a {
    font-size: 15px;
    color: #000;
}

#sideBar1 ul li {
    padding: 8px 0px;
    border-bottom: 1px solid grey;
}

#main-section {
    width: 55%;
}