body{
    margin:0;
}
ul{
    margin:0;
    padding:0;
    list-style-type: none;
}
#songsList span{
font-size: 20px;
font-weight: 600;


}
.songs{
    padding-right:10px;
    border-right:1px solid #000;
}
#songsList{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
#songsList  li{
    width:33%;
    border:1px solid #000;
    padding:10px;
    margin:auto;
    border-radius: 12px;
}
#songsList img{
    width:100%;
}
#songsList img,span{
    pointer-events: none;
}
#playList{
    text-align: left;
    position: fixed;
    top:200;
    /* width:25%; */
    height:50%;
    overflow-y: scroll;
    padding:10px;

}
#playList li img
{
    width:25%;
    height:40px;
}
#playList span{
    margin:20px;
    display: inline-block;
    width:150px;
}
.deletebtn i{
pointer-events: none;
}